*{   text-align: center;
    
    padding: 0;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    


}
a{
    text-decoration: none;
    color: inherit;
}

.heading{
    font-size: 24px;
padding: 5px;
border-radius: 5px;
background: #D1D8EC;
box-shadow: 14px 14px 24px #b2b8c9, -14px -14px 24px #f0f8ff;
color: #001965;

}
.myself{
font-size: 20px;
color: #001965;
}
.college{
    text-decoration: underline ;
    text-underline-offset: 5px;
    font-size: 20px;
}

 button{
    margin-bottom: 10px;
     padding: 5px;
    font-size: 20px;
    background-color: #001965;
    color: white;
    border-radius: 5px; 
    font-weight: 700;
  
}
button:hover{

    color: #001965;
    background-color: #fff;
    border: 3px solid #001965;
    font-weight: 700;
}



