*{
    border: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
   
}
body{
    background-color: #000428;
}
h1{
    text-align: center;
    color: white;
}
.one,.two,.three{
    text-align: center;
    margin: 10px;
    
}
button{
    border-style:none ;

border: 2px solid white;
border-radius: 10px;
font-size: 18px;
font-weight: 500;
}
textarea{
    border: 2px solid rgb(73, 22, 255);
    border-radius: 10px;
}