<!DOCTYPE html>
<html lang="en">

<head>
    <style>
        body {
            background-color: powderblue;
        }

        h1 {
            color: blue;
        }

        p {
            color: red;
        }
    </style>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

</head>

<body>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti, vero. Cumque, excepturi quo cum distinctio
        alias itaque explicabo ratione similique reprehenderit error earum optio in laborum, eligendi laudantium dolor
        fugit?s</p>
    <form action="/contacts" method="POST">
        <input type="text" placeholder="name" name="name">
        <input type="text" placeholder="connection" name="category">
        <input type="email" placeholder="Email Address" name="email">

        <button type="submit">Submit</button>
    </form>
    <%= contacts %>
</body>

</html>